In [ ]:
game_score = (10, 12)

In [ ]:
#read in the file
#write open('my_file.txt') as file:
    #for each line in the file
#    for line in file:
        
#        turtle.write(label)
#        draw_rectangle()
    
#    get the label from the line
#    tell turtle to write(label)
#    draw rectangle

In [3]:
ages = {'sarah':42, 'amit':35, 'zhang':13}
ages

{'amit': 35, 'sarah': 42, 'zhang': 13}

In [4]:
ages['amit'] = ages['amit'] + 1  # happy birthday Amit!
ages

{'amit': 36, 'sarah': 42, 'zhang': 13}

In [5]:
ages[0] = 'since the dawn of mathematics'

In [6]:
ages

{'sarah': 42, 'amit': 36, 'zhang': 13, 0: 'since the dawn of mathematics'}

In [7]:
3 in [1,2,3,4,5]

True

In [8]:
sample_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [18]:
sample_dict.get('f', 0) * 2

0

In [24]:
list(sample_dict.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [28]:
for value in ages.values():
    print("someone maps to", value)

someone maps to 42
someone maps to 36
someone maps to 13
someone maps to since the dawn of mathematics

In [31]:
for key, value in sample_dict.items():
    #key, value = item
    print(key, "maps to", value)

a maps to 1
b maps to 2
c maps to 3
d maps to 4
e maps to 5

In [34]:
for name, age in ages.items():
    print(name, "is", age, "years old")

sarah is 42 years old
amit is 36 years old
zhang is 13 years old
0 is since the dawn of mathematics years old

In [ ]:
12
89
12313
511
13

{'1':0}

In [37]:
for line in "hello world":
    print(line)

h
e
l
l
o

w
o
r
l
d

In [39]:
people = {
    'Ada': {'name': 'Ada', 'height': 64, 'weight': 135},
    'Bob': {'name': 'Bob', 'height': 74, 'weight': 156},
    'Chris': {'name': 'Chris', 'height': 69, 'weight': 139},
    'Diya': {'name': 'Diya', 'height': 69, 'weight': 144},
    'Emma': {'name': 'Emma', 'height': 71, 'weight': 152}
}
people['Ada']['height']

64

In [40]:
people = [
    {'name': 'Ada', 'height': 64, 'weight': 135},
    {'name': 'Bob', 'height': 74, 'weight': 156},
    {'name': 'Chris', 'height': 69, 'weight': 139},
    {'name': 'Diya', 'height': 69, 'weight': 144},
    {'name': 'Emma', 'height': 71, 'weight': 152}
]

for row in people:
    print(row['name'])

Ada
Bob
Chris
Diya
Emma

In [46]:
r = range(10)
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
keys = list(sample_dict.keys())
keys[0]
sample_dict[keys[0]]

1

In [ ]:
a,b = (x, y)
a = (x,y)[0]
b = (x,y)[1]